@import 'tailwindcss';
/* Navbar container */
.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  background-color: transparent;
}
